/*------------------------Color Variables---------------------*/
:root {
  --background: #3a3b3c;
  --navtext: #ececec;
  --hovertext: #e03a2e;
  --buttonhover: #f76451;
  --navcolor: #2c2c2c;
  --containercolor: #8d8d8d;
  --infocolor: #cecece;
}

/*-------------------------Global Styles----------------------*/

.gantari {
  font-family: 'Gantari', sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #f0f0f0;
  background-color: var(--background);
}

section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 4rem 2rem;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.overlay {
  background-color: var(--containercolor);
  padding: 3rem;
  border-radius: 10px;
}

h1,
h2,
h3 {
  color: var(--hovertext);
}

footer {
  background-color: var(--navcolor);
  color: var(--containercolor);
  text-align: center;
  padding: 1rem;
}

.logotext {
  font-family: 'Bungee Shade', sans-serif;
  color: var(--navtext);
  font-size: 2em;
}

.logotext2 {
  font-family: 'Bungee Shade', sans-serif;
  color: var(--navtext);
  font-size: 3em;
}

.navcolor {
  background-color: var(--navcolor);
}

.inventory {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 30px;
  background-color: var(--infocolor);
  border-radius: 10px;
  color: rgb(58, 58, 58);
  text-align: left;
}

.infocontainer {
  margin-top: 10px;
  color: var(--navtext);
}
.info {
  background-color: rgb(172, 172, 172);
  margin: 5px;
  padding: 2px;
  font-family: 'Gantari', sans-serif;
  transition: all 0.2s ease 0s;
}
.info:hover {
  background-color: #e9e9e9;
  color: #808080;
}

.pricetext {
  margin-top: 10px;
  font-family: 'Gantari', sans-serif;
  font-size: 1.3em;
}
.price {
  font-size: 1.3em;
  font-weight: bold;
  color: var(--hovertext);
}

.inventorybutton {
  background-color: var(--hovertext);
  font-family: 'Gantari', sans-serif;
  text-align: center;
  padding: 10px;
  border-radius: 20px;
  font-weight: bold;
  transition: all 0.2s ease 0s;
  margin-top: 10px;
  color: var(--navtext);
  text-decoration: none;
}
.inventorybutton:hover {
  background-color: var(--buttonhover);
}
