/*SWWebDev September 19*/
.intro{
  font-size: 24px;
  color:darkblue;
  padding: 20px 60px;
  text-align: center;
}

.highlight{
  background-color: lightgoldenrodyellow;
  padding: 5px;
}
.alert{
  background: red;
  color: white;
  font-weight: bold;
  padding: 5px;
}
.blue{
  background: blue;
}