/* Practice CustomFonts Style Sheet */

.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
.websafe{
    font-family: Arial, Courier, "Courier New";
}
.google {
    font-family: 'Anton', Georgia, serif;
}
